.root {
    /* -fx-accent: #1a6ee4; */
    -fx-accent: #0e3e81;
    -fx-focus-color: -fx-accent;
    -fx-base: #111;
    -fx-control-inner-background: derive(-fx-base,20%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);

    -fx-text-color: rgba(204, 204, 204, 1.0);
    -fx-accent-jme: rgba(174, 120, 4, 1.0);
}

.tooltip {
    -fx-show-delay: 250ms;
}

.label{
    -fx-text-fill: -fx-text-color;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button {
    -fx-text-fill: -fx-text-color;
}

.button:default {
    -fx-base: -fx-accent;
}

.toggle-button:selected {
    -fx-background-color: -fx-accent-jme;
}

.table-view{
    -fx-background-color: derive(-fx-base, 10%);
    -fx-selection-bar-non-focused: derive(-fx-base, 85%);
}

.table-view .column-header .label{
    -fx-font-weight: none;
}

.combo-table-view{/*optional */
    /*i only use this style when a table-view has to emulate a combo-box or auto-complete look, by making the non focused color same as the focused one*/
    -fx-selection-bar: -fx-accent;
    -fx-selection-bar-non-focused: -fx-accent;
}

.table-row-cell:even{
    -fx-control-inner-background: derive(-fx-base, 23%);
}

.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 0%);
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}


/* List */
.list-cell:odd {
    -fx-background-color: -fx-control-inner-background;
}

.list-cell:even {
    -fx-background-color: -fx-control-inner-background;
}

.list-cell:hover {
    -fx-background-color: -fx-control-inner-background-alt;
}

.list-cell:selected {
    -fx-background-color: -fx-accent;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

/* FontAwesome Icons */
.glyph-icon{
    -fx-text-fill: -fx-text-color;
    -fx-fill: -fx-text-color;
}

/* menu */
.menu-bar {
    /* -fx-background-radius: 10; */
    -fx-padding: 0 5 0 5;
    /* -fx-background-color-opacity: 0.5; */
    -fx-background-color: -fx-control-inner-background;
}

.menu-bar > .container {
    -fx-padding: 5;
}

.menu-bar > .container > .menu-button {
    -fx-background-radius: 10 10 10 10;
}

.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-radius: 10 10 0 0;
}

.menu-item {
    -fx-background-radius: 10;
}

.context-menu {
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 5;
}

.progress-indicator:indeterminate > .spinner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.progress-indicator:indeterminate .segment {
    -fx-background-color: -fx-accent-jme;
}