.splash-anchorpane {
    -fx-background-image: url('Images/splash.png');
}

.splash-progressbar {
    -fx-control-inner-background: black;
}

.splash-progressbar > .bar {
    -fx-padding: 5px;
    -fx-background-color: brown;
    -fx-background-radius: 0;
}

.splash-progressbar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.text-field:error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}


.componentTitleHBox {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: rgba(192, 192, 192, 1.0);
}

.componentTitle {
    -fx-padding: 5px 10px;
}

.componentVBox {
    -fx-alignment: center-right;
    -fx-spacing: 10;
    -fx-padding: 0 0 10 0;
}

.component {
    -fx-font-size: 11px;
}

.openProject:hover {
    -fx-background-color: blue;
}

.openProject:hover .label {
    -fx-text-fill: white;
}